<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Datos de los movimientos</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.0.0/css/all.min.css}" >
    <link rel="stylesheet" th:href="@{/css/css-footer.css}"><link rel="stylesheet" th:href="@{/css/css-footer.css}">
</head>
<body>
<header th:replace="layout/plantilla :: header"></header>
<section th:replace="layout/plantilla :: mainMovimiento"></section>

<section class="p-5 bg-light">
    <div class="container col-sm-5 text-center">
        <div class="card" style="background-color: #FD8;">
            <h1 class="card-title d-flex align-items-center justify-content-center">Datos de empresa</h1>
            <div class="card-body">
                <form id="customer-form" th:action="@{/movimientos/guardar}" method="post" th:object="${movimiento}">
                    <input type="hidden" name="idMovimientoDinero" th:field="*{idMovimientoDinero}">
                    <div class="row justify-content-md-center">
                        <label class="col-form-label fw-bold" for="fecha">Fecha </label>
                        <div class="col-8">
                            <input class="form-control" type="datetime-local" name="fecha" th:field="*{fecha}"/>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <label class="col-form-label fw-bold" for="empresa">Empresa </label>
                        <div class="col-8">
                            <select class="form-select" th:field="*{empresa.idEmpresa}" name="empresa">
                                <option value="0" selected>Seleccione empresa</option>
                                <option th:each="empresa: ${empresas}"
                                        th:value="${empresa.idEmpresa}"
                                        th:text="${empresa.nombreEmpresa}">
                                </option>
                            </select>
                        </div>
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('empresa')}" th:errors="*{empresa}"></div>
                    </div>
                    <div class="row justify-content-md-center">
                        <label class="col-form-label fw-bold" for="empleado">Empleado</label>
                        <div class="col-8">
                            <select class="form-select" th:field="*{empleado.idEmpleado}" name="empleado">
                                <option value="0" selected>Seleccione empleado</option>
                                <option th:each="empleado: ${empleados}"
                                        th:value="${empleado.idEmpleado}"
                                        th:text="${empleado.nombre}"
                                ></option>
                            </select>
                        </div>
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('empleado')}" th:errors="*{empleado}"></div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-md-6">
                            <label class="col-form-label fw-bold" for="concepto">Concepto Movimiento</label>
                            <input class="form-control" type="text" name="concepto" th:field="*{conceptoMovimiento}" placeholder="Concepto Movimiento">
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('conceptoMovimiento')}" th:errors="*{conceptoMovimiento}"></div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-form-label fw-bold" for="monto">Monto</label>
                            <input class="form-control" type="number" th:field="*{montoMovimiento}" id="monto">
                        </div>
                    </div>
<!--                    <div id="buttons" class="py-4 mb-4 bg-light">-->
<!--                        <div class="container">-->
<!--                            <div class="row">-->
<!--                                <div class="col-md-3">-->
<!--                                    <a th:href="@{/movimientos/listar}" class="btn btn-ligth btn-block">-->
<!--                                        <i class="fas fa-arrow-left"></i> Cancelar-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                                <div class="col-md-3">-->
<!--                                    <button th:href="@{/movimientos/listar}" type="submit" class="btn btn-success btn-block">-->
<!--                                        <i class="fas fa-check"></i> Guardar-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </form>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-block">
            <a th:href="@{/movimientos/listar}" class="btn btn-info btn-block">
                <i class="fas fa-arrow-left"></i> Cancelar</a>
            <button th:href="@{/movimientos/listar}" type="submit" class="btn btn-success btn-block">
                <i class="fas fa-check"></i> Guardar
            </button>
        </div>
    </div>
</section>

<footer th:replace="layout/plantilla :: footer"></footer>
<script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/popper/js/2.9.3/umd/popper.min.js}"></script>

</body>