<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Datos de la empresa</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.0.0/css/all.min.css}" >
    <link rel="stylesheet" th:href="@{/css/css-footer.css}"><link rel="stylesheet" th:href="@{/css/css-footer.css}">
</head>
<body>
<header th:replace="layout/plantilla :: header"></header>
<section th:replace="layout/plantilla :: mainEmpresa"></section>

<section class="p-5 bg-light">
    <div class="container col-sm-5 text-center">
        <div class="card" style="background-color: #FD8;">
            <h1 class="card-title d-flex align-items-center justify-content-center">Datos de empresa</h1>
            <div class="card-body">
                <form id="customer-form" th:action="@{/empresas/guardar}" method="post" th:object="${empresa}">
                    <input type="hidden" name="idEmpresa" th:field="*{idEmpresa}">
                    <div class="row justify-content-md-center">
                        <label class="col-form-label fw-bold" for="nit">Nit </label>
                        <div class="col-6">
                            <input class="form-control" type="text" name="nit" th:field="*{nit}" placeholder="Nit Empresa"/>
                        </div>
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('nit')}" th:errors="*{nit}"></div>
                    </div>
                    <div class="row justify-content-md-center">
                        <label class="col-form-label fw-bold" for="nombre">Nombre Empresa</label>
                        <div class="col-12">
                            <input class="form-control" type="text" name="nombre" th:field="*{nombreEmpresa}" placeholder="Nombre Empresa">
                        </div>
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('nombreEmpresa')}" th:errors="*{nombreEmpresa}"></div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-8">
                            <label class="col-form-label fw-bold" for="direccion">Direccion</label>
                            <input class="form-control" type="text" name="direccion" th:field="*{direccion}" placeholder="Direccion Empresa">
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></div>
                        </div>
                        <div class="col-4">
                            <label class="col-form-label fw-bold" for="telefono">Telefono o Celular</label>
                            <input class="form-control" type="text" name="telefono" th:field="*{telefono}" placeholder="Telefono o Celular">
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-block">
            <a th:href="@{/empleados/listar}" class="btn btn-info btn-block">
                <i class="fas fa-arrow-left"></i> Cancelar</a>

            <button th:href="@{/empleados/listar}" type="submit" class="btn btn-success btn-block">
                <i class="fas fa-check"></i> Guardar
            </button>
        </div>
    </div>
</section>

<footer th:replace="layout/plantilla :: footer"></footer>
<script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/popper/js/2.9.3/umd/popper.min.js}"></script>

</body>