<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Comentarios -->
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.0.0/css/all.min.css}" >
    <link rel="stylesheet" th:href="@{/css/css-footer.css}">
</head>
<body>

<header th:replace="layout/plantilla :: header"></header>
<section th:replace="layout/plantilla :: mainIndex"></section>

<div class="container text-center bg-light">
    <p th:text="${mensaje}" class="fw-bold p-5"></p>
    <div class="row text-center" style="margin-bottom: 8rem;">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body text-center">
                    <i class='fas fa-user-circle' style='font-size:50px'></i>
                    <h5 class="card-title">Sistema de gestión de empleados</h5>
                    <p sec:authorize="hasRole('ROLE_ADMIN')" class="card-text">Aqui puedes agregar, editar y eliminar usuarios nuevos u antiguos.</p>
                    <p sec:authorize="hasRole('ROLE_USER')" class="card-text">Aqui puedes ver los usuarios registrados.</p>
                    <a th:href="@{/empleados/listar}" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body text-center">
                    <i class='fas fa-landmark' style='font-size:50px'></i>
                    <h5 class="card-title">Sistema de gestión de Empresas</h5>
                    <p sec:authorize="hasRole('ROLE_ADMIN')" class="card-text">Aqui puedes agregar, editar y eliminar empresas nuevas u antiguas.</p>
                    <p sec:authorize="hasRole('ROLE_USER')" class="card-text">Aqui puedes ver las empresas registradas.</p>
                    <a th:href="@{/empresas/listar}" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <i class='fas fa-coins' style='font-size:50px'></i>
                    <h5 class="card-title">Sistema gestión de Movimientos</h5>
                    <p sec:authorize="hasRole('ROLE_ADMIN')" class="card-text">Aqui puedes agregar, editar y eliminar movimientos nuevos u antiguos.</p>
                    <p sec:authorize="hasRole('ROLE_USER')" class="card-text">Aqui puedes ver los movimientos registrados por cada empresa para cada empleado.</p>
                    <a th:href="@{/movimientos/listar}" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="layout/plantilla :: footer"></footer>
<script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/popper/js/2.9.3/umd/popper.min.js}"></script>
</body>
</html>